<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Bowl</title>
    <link>
    <script src="node_modules/angular/angular.min.js"></script>
</head>
<body ng-init="customers=[{name:'Marcio',city:'São Paulo',total:'234.09',since:'2004-12-02'},{name:'Andre',city:'Santos',total:'7634.66',since:'2012-07-30'},{name:'Clemente',city:'São Paulo',total:'756.12',since:'2016-01-01'}]">

    <section>
        <h1>Angular Costumer and Orders Sessions</h1>
        <div>
            <label for="filter">Filtro por Nome</label>
            <input type="text" id="filter" ng-model="customerFilter.name" />
        </div>
        <table>
            <tr>
                <th ng-click="sortBy='name';reverse=!reverse">Nome</th>
                <th ng-click="sortBy='city';reverse=!reverse">Cidade</th>
                <th ng-click="sortBy='total';reverse=!reverse">Total</th>
                <th ng-click="sortBy='since';reverse=!reverse">Desde</th>
            </tr>
            <tr ng-repeat="customer in customers | filter:customerFilter | orderBy:sortBy:reverse">
                <td>{{ customer.name }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.total | currency:'R$ ' }}</td>
                <td>{{ customer.since | date:'dd/MM/yyyy' }}</td>
            </tr>
        </table>
    </section>
</body>
</html>