<section>
  <h1>Angular Costumer and Orders Sessions</h1>
  <div>
      <label for="filter">Filtro por Nome</label>
      <input type="text" id="filter" ng-model="customerFilter.name" />
  </div>
  <table>
      <tr>
          <th ng-click="cc.doSort('name')">Nome</th>
          <th ng-click="cc.doSort('city')">Cidade</th>
          <th ng-click="cc.doSort('total')">Total</th>
          <th ng-click="cc.doSort('since')">Desde</th>
          <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="customer in cc.customers | filter:customerFilter | orderBy:cc.sortBy:cc.reverse">
          <td>{{ customer.name }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.total | currency:'R$ ' }}</td>
          <td>{{ customer.since | date:'dd/MM/yyyy' }}</td>
          <th><a href="#!/orders/{{ customer.id }}">Ver</a></th>
      </tr>
  </table>
  <h6>Total de Clientes: {{ cc.customers.length }}</h6>
</section>